<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clases</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Salon: </ion-label>
        <ion-input placeholder="Digite el nombre de la asignatura" [(ngModel)]="salon"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Horario: </ion-label>
        <ion-input placeholder="Digite el codigo de la asignatura" [(ngModel)]="horario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Profesor: </ion-label>
        <ion-select [(ngModel)]="profesorId">
          <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">{{ profesor.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Asignatura: </ion-label>
        <ion-select [(ngModel)]="asignaturaId">
          <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{ asignatura.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="success" (click)="create()">Agregar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let clase of clases">
    <ion-card-header>
      <ion-card-title>Salon: {{ clase.salon }}</ion-card-title>
      <ion-card-subtitle>Horar: {{ clase.horario }}</ion-card-subtitle>
      <ion-card-subtitle>profesor: {{ clase.profesor }}</ion-card-subtitle>
      <ion-card-subtitle>asignatura: {{ clase.asignatura }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="primary" id="open-modal-clases" (click)="claseId=clase.id; salonEdit=clase.salon; horarioEdit=clase.horario; asignaturaIdEdit=clase.asignaturaId; profesorIdEdit=clase.profesorId">Actualizar</ion-button>
      <ion-button color="danger" (click)="delete(clase.id)">Borrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal trigger="open-modal-clases" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Actualizar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label>Salon: </ion-label>
        <ion-input placeholder="Digite el nombre de la asignatura" [(ngModel)]="salonEdit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Horario: </ion-label>
        <ion-input placeholder="Digite el codigo de la asignatura" [(ngModel)]="horarioEdit"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Profesor: </ion-label>
        <ion-select [(ngModel)]="profesorIdEdit">
          <ion-select-option *ngFor="let profesor of profesores" [value]="profesor.id">{{ profesor.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Asignatura: </ion-label>
        <ion-select [(ngModel)]="asignaturaIdEdit">
          <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">{{ asignatura.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>